* {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  margin: auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: black;
}

/* Style the top navigation bar */
.topnav {
  height: fit-content;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(130deg, #006880 20%, #005366 77.5%);
}

.center {
  text-align: center;
  color: white;
  table-layout: auto;
}

/* Style the content */
.content {
  background: linear-gradient(
    90deg,
    rgb(239, 242, 247) 0%,
    7.60286%,
    rgb(237, 240, 249) 15.2057%,
    20.7513%,
    rgb(235, 239, 248) 26.297%,
    27.6386%,
    rgb(235, 239, 248) 28.9803%,
    38.2826%,
    rgb(231, 237, 249) 47.585%,
    48.1216%,
    rgb(230, 236, 250) 48.6583%,
    53.1306%,
    rgb(228, 236, 249) 57.6029%,
    61.5385%,
    rgb(227, 234, 250) 65.4741%,
    68.7835%,
    rgb(222, 234, 250) 72.093%,
    75.7603%,
    rgb(219, 230, 248) 79.4275%,
    82.8265%,
    rgb(216, 229, 248) 86.2254%,
    87.8354%,
    rgb(213, 228, 249) 89.4454%,
    91.8605%,
    rgb(210, 226, 249) 94.2755%,
    95.4383%,
    rgb(209, 225, 248) 96.6011%,
    98.3005%,
    rgb(208, 224, 247) 100%
  );
  padding: 20px;
  padding-right: 10px;
  border-color: black;
  height: 100%;
  width: auto;
  overflow-x: scroll;
}

.timetable {
  border-color: black;
  border-collapse: collapse;
  border: 3px solid black;
  font-size: larger;
  font-family: "Times New Roman", Times, serif;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: auto;
  padding-right: 5px;
}

/* Style the footer */
.footer {
  display: none;
  background-color: #f1f1f1;
  padding: 10px;
  height: auto;
  overflow-x: scroll;
  padding-right: 10px;
}

.khabarnahi {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  object-position: center;
  overflow-x: scroll;
  padding-right: 5px;
}

th {
  text-align: left;
  text-decoration: solid;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(130deg, #006880 20%, #005366 77.5%);
  color: white;
  border: 3px solid #000;
  padding: 15px;
}

td {
  border: 3px solid #000;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#rcorners1 {
  border-radius: 30px;
  padding: 20px;
  width: 100vw;
}
